@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
  }
  
  body {
    @apply bg-black text-white antialiased;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-dark-surface;
}

::-webkit-scrollbar-thumb {
  @apply bg-white/10 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-white/20;
}